<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image/Slide/01.webp" class="d-block w-100" alt="..."width="50" height="450px">
      </div>
      <div class="carousel-item">
        <img src="assets/image/Slide/02.webp" class="d-block w-100" alt="..."width="50" height="450px">
      </div>
      <div class="carousel-item">
        <img src="assets/image/Slide/03.webp" class="d-block w-100" alt="..."width="50" height="450px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





  
  <!--Grid-->
 <div class="container mt-5">
    <div class="text-center">
        <h1>อุปกรณ์ IOT ที่ใช้ทำชิ้นงาน</h1>
        <h4>ระบบรดน้ำอัตโนมัติโดยใช้เซลล์เเสงอาทิตย์</h4>
    </div>
    <div class="row mt-5">
      <div class="col">
          <img src="assets/image/Product/01.jpg"alt="..." width="300">
      </div>
      <div class="col">
        <h1><br>บอร์ด ESP32</h1>
        <p>คือ wifi microcontroller ที่ถูกพัฒนาต่อจาก ESP8266 โดยเพิ่ม CPU เป็น 2 core, Wi-Fi ที่เร็วขึ้น,
           มีขา GPIO ให้ใช้งานมากขึ้น และรองรับ Bluetooth อีกด้วย  นอกจากนี้ ESP32 ยังมาพร้อมกับ touch-sensitive pins 
           ที่สามารถใช้ปลุก ESP32 จากโหมด deep sleep และยังมี hall effect sensor 
           และ temperature sensor ในตัว</p>
      </div>
      
      <div class="row mt-5">
        <div class="col">
            <img src="assets/image/Product/02.jpg"alt="..." width="300">
        </div>
        <div class="col">
          <h1><br>โซลาร์เซลล์ (Solar Cell)</h1>
          <p>หรือสามารถเรียกได้อีกชื่อว่าเซลล์แสงอาทิตย์คือ อุปกรณ์อิเล็กทรอนิกส์ชนิดหนึ่ง ที่มีคุณสมบัติในการเปลี่ยนพลังงานแสงจากแสงอาทิตย์ มาแปรสภาพให้เป็นพลังงานไฟฟ้า เป็นการเปลี่ยนแสงอาทิตย์ที่ร้อนเกินทนในประเทศเรา ให้มาเป็นพลังงานไฟฟ้าเพื่อนำไปใช้ประโยชน์ต่าง ๆ ซึ่งพลังงานไฟฟ้าที่ผลิตจากแผงโซล่าเซลล์นั้นเป็นไฟฟ้าที่สามารถนำไปใช้ได้ทันที</p>
        </div>
        
        <div class="row mt-5">
          <div class="col">
              <img src="assets/image/Product/03.png"alt="..." width="300">
          </div>
          <div class="col">
            <h1><br>รีเลย์ (Relay)</h1>
            <p>สวิตช์ไฟฟ้าที่ใช้แม่เหล็กไฟฟ้าในการเปิดหรือปิดหน้าสัมผัสอย่างน้อยหนึ่งหน้าสัมผัส ซึ่งเป็นส่วนประกอบสำคัญในระบบไฟฟ้าและอิเล็กทรอนิกส์ มักใช้ในการควบคุมวงจรกำลังไฟสูงด้วยสัญญาณกำลังต่ำ</p>
          </div>

          <div class="row mt-5">
            <div class="col">
                <img src="assets/image/Product/04.png"alt="..." width="300">
            </div>
            <div class="col">
              <h1><br>Soil Moisture Sensor Module</h1>
              <p>เซนเซอร์วัดความชื้นในดินเป็นเครื่องมือที่มีประโยชน์และใช้กันอย่างแพร่หลายในการเกษตร, สิ่งแวดล้อม, และระบบอัตโนมัติที่เกี่ยวกับการปลูกพืชภายในฟาร์ม หากเราอยากให้พืชเติบโตในสภาพที่เหมาะสม ความชื้นของดินเป็นปัจจัยหนึ่งที่มีความสำคัญ เซนเซอร์นี้จะช่วยในการตรวจจับระดับความชื้นของดินอย่างต่อเนื่องและแม่นยำ ซึ่งจะช่วยให้เรามั่นใจว่าพืชได้รับน้ำที่เหมาะสมที่สุด</p>
            </div>
          </div>
    
            <div class="row mt-5">
              <div class="col">
                  <img src="assets/image/Product/05.jpg"alt="..." width="300">
              </div>
              <div class="col">
                <h1><br>Soil PH Sensor</h1>
                <p>เซ็นเซอร์วัดค่าPHในดิน  สามารถเชื่อมต่อกับ arduino esp8266 esp32 ได้ส่งข้อมูลแบบ RS485 รุ่น PR-3000-TR-PH-N01 สำหรับใช้กับ Arduino ESP8266 ESP32 วัดค่า PH ในช่วง 3-9PH</p>
              </div>
            </div>          
               